th {
  text-align: start;
  border: 1px solid rgb(204, 199, 199);
  border-bottom: none;
  padding-left: 10px;
}

th:first-child {
  width: 15%;
}

th:nth-child(2) {
  width: 55%;
}

th:nth-child(3) {
  width: 15%;
}
